[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.orange {
    color: #FF8A5F;
}

.blue {
    color: #9494FF
}

.votes {
    text-align: center;
}

.votesBtn {
    display: flex;
    justify-content: center;
}

.Page {
    border: black;
}
.showCom{
  margin-right: 5px;
}
.comments {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.image{
display: block;
margin-right: auto;
margin-left: auto;
max-width: 350px;
max-height: 350px;
}


.commentNumber {
    display: flex;
    justify-content: center;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#text {
    text-align: center;
    font-size: 18px;
}

#addComment {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
