<!DOCTYPE html>
<html ng-app='RedditApp'>

<head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">
</head>

<body ng-controller='redditController' ng-cloak>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Reddit Clone</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <button ng-click='toggleAdd()' class="btn btn-primary"> Add Post </button>
                    <li class="dropdown">
                        <select name="dropDown" ng-model="select">
     <option disabled selected value>Sort by</option>
     <option value='title'>Title</option>
     <option value='-votes'>Votes</option>
     <option value='posted'>Date</option>
   </select>
                        <form class='navbar-form navbar-left' role='search'>
                            <div class='form-group'>
                                <input type="text" placeholder="Search" ng-model="search">
                            </div>
                        </form>

    </nav>



    <h1 id='title'>Reddit Clone</h1>
    <br>
    <br>
    <div>

        <!-- Submit Form -->


        <form class="form-horizontal" novalidate ng-show='showForm' ng-submit="submitPost()" name="Post">
            <fieldset>

                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Title: </label>
                    <div class="col-lg-10">
                        <input name='title' type="text" class="form-control" ng-model="newPost.title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="author" class="col-lg-2 control-label">Author: </label>
                    <div class="col-lg-10">
                        <input name='author' type="text" class="form-control" ng-model="newPost.author" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="image" class="col-lg-2 control-label">Image URL: </label>
                    <div class="col-lg-10">
                        <input name='image' type="url" class="form-control" ng-model="newPost.image" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Description:</label>
                    <div class="col-lg-10">
                        <textarea name='description' ng-model="newPost.description" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
                <input type="submit">
            </fieldset>
        </form>

        <!-- POSTS -->

        <div class='Page' ng-repeat="p in post | orderBy: select | filter:search">

            <div id='title'>
                {{p.title}}
            </div>

            <br>
            <img class='image' ng-src={{p.image}} alt='post image'>
            <br>

            <div id='text'>
                By {{p.author}}
                <br>
                <br> Posted {{p.posted | amCalendar}}
                <br>
                <br> Description: {{p.description}}

            </div>

            <div class='votes' ng-class='{orange: p.votes > 0, blue: p.votes < 0}'>
                Up Boats: {{p.votes}}
            </div>

            <div class=votesBtn>
                <button class="btn btn-warning" ng-click='upVote(p)'> UP </button>
                <br>
                <button class="btn btn-info" ng-click='downVote(p)'> Down </button>
            </div>

            <ng-pluralize class='commentNumber' count="p.comments.length" when="{'0':  'No comments',
 								'1': '1 comment',
 								'other': '{{p.comments.length}} comments'}">
            </ng-pluralize>


            <!-- Show Comment  -->
            <div class='comments'>
                <button class="btn btn-primary showCom" ng-click='toggleComment(p)'> Show comments </button>

                <button class="btn btn-primary" ng-click='toggleAddComment(p)'> Add Comment </button>
            </div>

            <!-- Add Comment -->

            <div id='commentText' ng-repeat="c in p.comments" ng-show='p.showComment'>
                - {{c.author}} wrote: {{c.comment}}
            </div>

            <form ng-show='p.addComment' ng-submit='postComment(p)' name='commentform'>
                <label for='author'>Author</label>
                <input name='author' type='text' ng-model='p.comments.author'>
                <label for='comment'>Comment</label>
                <input name='comment' type='text' ng-model='p.comments.comment'>
                <button type='submit'>Submit</button>
            </form>



        </div>
    </div>


    <!-- Scripts -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0/angular-moment.js'></script>
    <script src='./js/app.js'></script>
    <script src='./js/controller.js'></script>
    <script src='./js/directives.js'></script>
    <script src='./js/filters.js'></script>
    <script src='./js/service.js'></script>

</body>

</html>
